body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ded3de;
   
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 15px;
    font-size: 2.5em;
    color: #333;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 50px 10px ;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 0 auto;
}

.image-container {
    max-width: 70%;
    max-height: 70%;
    overflow: hidden;
    border-radius: 10px;
}

.image-container img {
    width: 800px;
    height: 500px;
    display: block;
}

.nav-button {
    background-color: #b638cf;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #7d0d93;
}
